/* Login.css */

header {
    background-color: #007bff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border: 1px solid#fff;
    border-radius: 4px;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    width: 300px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}